.navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  float: right;
}

.navbar::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#logo{
    margin: 7px 3px;
}

#logo img{
  height: 113px;
  margin: -23px 25px;
}

.navbar ul{
  display: flex;
  text-decoration: none;
}

.navbar ul li{
  list-style: none;
  font-size: 1.3rem;
}

.navbar ul li a{
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

footer{
  background-color: black;
  color: white;
  padding: 9px 15px;
}